In [1]:
print("HOPE AI")

HOPE AI

In [4]:
InstituteName = input("Enter your Institute Name? : ")

Enter your Institute Name? : HOPE AI

In [1]:
Name = input("Enter your Name: ")
Age = input("Enter your Age: ")
School = input("Enter your School Name: ")
Degree = input("Enter your Degree: ")

Enter your Name: Raj
Enter your Age: 15
Enter your School Name: Guru School
Enter your Degree: B.E CSE

In [2]:
#Addition

num1 = 43
print("a =",num1)
num2 = 34
print("b =",num2)
print("add =",num1+num2)

a = 43
b = 34
add = 77

In [3]:
#Subtraction

num1 = 43
print("a =",num1)
num2 = 34
print("b =",num2)
print("sub =",num1-num2)

a = 43
b = 34
sub = 9

In [5]:
# MUltiplication

num1 = 63
print("a =",num1)
num2 = 97
print("b =",num2)
print("Mul =",num1*num2)

a = 63
b = 97
Mul = 6111

In [6]:
#Division

num1 = 76
print("a =",num1)
num2 = 31
print("b =",num2)
print("Float Div =",num1/num2)

a = 76
b = 31
Float Div = 2.4516129032258065

In [2]:
# Floor Division

num1 = 76
print("a =",num1)
num2 = 31
print("b =",num2)
print("Floor Div =",num1//num2)

a = 76
b = 31
Floor Div = 2

In [4]:
# Modulo

num1 = 76
print("a =",num1)
num2 = 31
print("b =",num2)
print("Modulo =",num1%num2)

a = 76
b = 31
Modulo = 14

In [6]:
# Power

num1 = 4
print("a =",num1)
num2 = 4
print("b =",num2)
print("Power =",num1**num2)

a = 4
b = 4
Power = 256

In [1]:
#Addition

num1 = int(input("a = ")) 
num2 = int(input("b = "))
print("add =",num1+num2)

a = 43
b = 34
add = 77

In [2]:
#Subtraction

num1 = int(input("a = ")) 
num2 = int(input("b = "))
print("sub =",num1-num2)

a = 43
b = 34
sub = 9

In [3]:
# MUltiplication

num1 = int(input("a = ")) 
num2 = int(input("b = "))
print("Mul =",num1*num2)

a = 63
b = 97
Mul = 6111

In [4]:
#Division

num1 = int(input("a = ")) 
num2 = int(input("b = "))
print("Float Div =",num1/num2)

a = 76
b = 31
Float Div = 2.4516129032258065

In [5]:
# Modulo

num1 = int(input("a = ")) 
num2 = int(input("b = "))
print("Modulo =",num1%num2)

a = 76
b = 31
Modulo = 14

In [6]:
# Power

num1 = int(input("a = ")) 
num2 = int(input("b = "))
print("Power =",num1**num2)

a = 4
b = 4
Power = 256